---
  - name: MongoDB
    hosts: all
    become: yes
    tasks:
      - include_role:
          name: mongodb
          tasks_from: install.yml
      - include_role:
          name: mongodb
          tasks_from: exclude_mongo.yml
